DJANGO_SECRET_KEY=b08e677942e8529375500ccfc7772bfe83b7ea1864f2d22a88c4e875526ce5b9
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,mishaislandheritage.com,www.mishaislandheritage.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://mishaislandheritage.com,https://www.mishaislandheritage.com
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=gbp
SITE_URL=https://www.mishaislandheritage.com
MYSQL_DATABASE=djapp
MYSQL_USER=djapp
MYSQL_PASSWORD=Alphax!2025
MYSQL_ROOT_PASSWORD=Alphax!2025
MYSQL_HOST=db
MYSQL_PORT=3306
CERTBOT_EMAIL=admin@mishaislandheritage.com
CERTBOT_DOMAINS=mishaislandheritage.com,www.mishaislandheritage.com
