DJANGO_SECRET_KEY=generate-a-unique-random-value
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=mishaislandheritage.com,www.mishaislandheritage.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://mishaislandheritage.com,https://www.mishaislandheritage.com

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=gbp
SITE_URL=https://mishaislandheritage.com

MYSQL_DATABASE=djapp
MYSQL_USER=djapp
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
MYSQL_HOST=db
MYSQL_PORT=3306

CERTBOT_EMAIL=mishaislandheritage@gmail.com
CERTBOT_DOMAINS=mishaislandheritage.com,www.mishaislandheritage.com

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=mishaislandheritage@gmail.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=mishaislandheritage@gmail.com
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
