DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=gbp
SITE_URL=https://example.com

MYSQL_DATABASE=djapp
MYSQL_USER=djapp
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
MYSQL_HOST=db
MYSQL_PORT=3306

CERTBOT_EMAIL=mishaislandheritage@gmail.com
CERTBOT_DOMAINS=example.com,www.example.com

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=mishaislandheritage@gmail.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=mishaislandheritage@gmail.com
EMAIL_HOST_PASSWORD=lkoqutldbdhmegst
EMAIL_USE_TLS=True
